body {
	font-family: 'Play', sans-serif;
	font-size: 16px;
}

/* ===== typography
 ====================== */
h1,
h2 {
	font-weight: bold;
}
/* ======= NAVBAR
========================= */
.navbar-default {
	border: none;
}
.navbar {
	margin-bottom: 0;
}
.navbar-header {
	height: 80px;
}
.navbar-default .navbar-toggle {
	margin-top: 20px;
	border: none;
	background-color: #1E732D;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
	background-color: #303030;
}
.navbar-default .navbar-toggle:focus {
	background-color: #303030;
}
.navbar-brand {
	font-weight: bold;
	text-transform: uppercase;
}
.navbar-brand > img {
	display: inline-block;
	margin-right: 20px;
	width: 50px;
	height: 50px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #1E732D;
	font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background-color: #fff;
	color: #333;
}
/* ======= JUMBOTRON 
========================= */
.jumbotron {
	background: url(../images/poz.jpg) #ccc no-repeat center;
	background-size: cover;
	min-height: 450px;
	position: relative;
}
.jumbotron a {
	text-decoration: none;
	color: #1E732D;
}
.jumbotron-caption {
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* ======= FIXTURES 
========================= */
.prev-fixture {
	padding: 10px 0 30px;
}
.fixture-team {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0.5px;
	color: #1E732D;
}
.prev-score {
	font-weight: bold;
	font-size: 48px;
	color: #1E732D;
}
.next-fixture-date {
	font-size: 18px;
}
/* ======= CLUB
===================== */
.club {
	padding: 60px 0 40px;
}
.thumbnail {
	border: none;
}
a.thumbnail:hover {
	text-decoration: none;
	color: #333;
}
/* ======= ASIDE
========================= */
.side-content {
	text-align: center;
}
.side-content p {
	font-size: 22px;
}
.fb-page blockquote {
	border: none;
	padding-left: 10px;
	font-size: 22px;
}
.fb-page blockquote a {
	color: #333;
}
.fb-page blockquote a:hover {
	text-decoration: none;
}
/* ======= map
========================= */
#map {
	width: 100%;
	height: 400px;
}
/* ======= clubs
========================= */
.liga-clubs {
	padding: 40px 0 30px;
}
.liga-clubs img {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
.liga-clubs img:hover {
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
/* ======= FOOTER 
========================= */
.page-footer {
	position: relative;
	padding: 40px;
	background-color: #1F1F1F;
	color: #DDD;
}
.na-vrh {
	position: absolute;
	top: -20px;
	right: 20px;
	color: #fff;
	font-size: 22px;
	background-color: #303030;
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
}
a.na-vrh:hover {
	background-color: #1E732D;
	color: #fff;
}
/* 	=============
	media queries */

/* --------- media queries --------- */
/* Custom, exstra small mobile phones */ 
@media only screen and (max-width : 320px) {

}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.fixture-team,
	.next-fixture-date {
		font-size: 18px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-nav > li > a {
		line-height: 50px;
	}
	.navbar-brand {
		margin: 0;
		padding: 0;
	} 
	.navbar-brand > img {
		width: 80px;
		height: 80px;
	}
	.jumbotron {
		min-height: 450px;
	}
	.fixture-team {
		font-size: 18px;
	}
	.prev-score {
		font-size: 22px;
	}
	.side-content {
		text-align: left;
	}
}
/* end of tablets styles */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.navbar-default .navbar-nav > li > a {
		font-size: 18px;
	}
	.jumbotron {
		min-height: 550px;
	}
	.jumbotron-caption {
		padding: 30px 0;
	}
	.prev-fixture {
		padding: 40px;
	}
	.fixture-team {
		font-size: 20px;
	}
	.prev-score {
		font-size: 36px;
	}

}/* end of desktops styles */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.jumbotron {
		min-height: 700px;
	}
	.fixture-team {
		font-size: 22px;
		line-height: 65px;
	}
	.prev-score {
		font-size: 48px;
	}		
}/* end of large desktops styles */