body {
	font-family: 'Play', sans-serif;
}

/* ===== typography
 ====================== */
h1,
h2 {
	font-weight: bold;
}
/* ======= SPAN
===================== */
.green {
	color: #1E732D;
	font-weight: bold;
}
/* ======= NAVBAR
========================= */
.navbar-default {
	border: none;
}
.navbar {
	margin-bottom: 0;
}
.navbar-header {
	height: 80px;
}
.navbar-default .navbar-toggle {
	margin-top: 20px;
	border: none;
	background-color: #1E732D;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
	background-color: #303030;
}
.navbar-default .navbar-toggle:focus {
	background-color: #303030;
}
.navbar-brand {
	font-weight: bold;
	text-transform: uppercase;
}
.navbar-brand > img {
	display: inline-block;
	margin-right: 20px;
	width: 50px;
	height: 50px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #1E732D;
	font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background-color: #fff;
	color: #000;
}
/* ======= JUMBOTRON 
========================= */
.jumbotron {
	background: url(../images/tim.jpg) no-repeat center;
	background-size: cover;
	color: #000;
	min-height: 450px;
	position: relative;
}
.jumbotron a {
	color: #fff;
	text-decoration: none;
}
.jumbotron-caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: transparent linear-gradient(to bottom, rgba(0, 10, 58, 0.75) 0px, rgba(0, 10, 58, 0.75) 100%) repeat scroll 0% 0%;
}
.jumbotron-caption:hover {
	background: transparent linear-gradient(to bottom, rgba(0, 10, 58, 0.9) 0px, rgba(0, 10, 58, 0.9) 100%) repeat scroll 0% 0%;
}
.super-b .img-responsive {
	display: inline-block;
}
/* google map */
#map {
	width: 100%;
	height: 300px;
}
/* footer */
.page-footer {
	position: relative;
	padding: 40px 0;
	background-color: #382513;
	color: #fff;
}
.na-vrh {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 22px;
	background-color: #303030;
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
}
.page-footer a:hover {
	background-color: #1E732D;
	color: #fff;
}
/* 	=============
	media queries */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-nav > li > a {
		line-height: 50px;
	}
	.navbar-brand {
		margin: 0;
		padding: 0;
	} 
	.navbar-brand > img {
		width: 80px;
		height: 80px;
	}
	.jumbotron {
		min-height: 450px;
	}
	.about,
	.info ul {
		font-size: 18px;
	}
}
/* end of tablets styles */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.navbar-default .navbar-nav > li > a {
		font-size: 18px;
	}
	.jumbotron {
		min-height: 550px;
	}
	.jumbotron-caption {
		padding: 30px 0;
	}
	.about,
	.info ul {
		font-size: 22px;
	}
}/* end of desktops styles */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.jumbotron {
		min-height: 700px;
	}
}/* end of large desktops styles */